// General colors palette

$white: #fff;
$black: #000;
$dark-blue: #002554;
$blue: #196CFD;
$gray: #C4C4C4;
$gray1: #BDBCBE;
$gray2: #676C71;
$gray3: #F2F1F4;
$gray4: #E5E5E5;
$gray5: #F8F7FA;
$gray6: #8092A9;
$gray7: #F0EFF1;
